* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #080203;
  color: #fff;
  font-size: 100%;
  font-weight: 400;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  font-family: "Inter", sans-serif;
}

input {
  font-family: "Inter", sans-serif;
}

.container {
  margin: 0rem 10.938rem;
}

.logo {
  font-size: 1.5rem;
  background: -webkit-linear-gradient(#fff, #b2405d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu {
  text-transform: uppercase;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item:not(:last-child) {
  margin-right: 4.688rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  padding-top: 3.688rem;
  padding-bottom: 3.063rem;
}

.header__button {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  padding: .6rem;
}

.header > div:not(.menu) {
  width: 20%;
}

.header__button--wrapper {
  margin-left: auto;
  max-width: 2.5rem;
}

h1 {
  font-size: 5.625rem;
  font: weight 500;
  text-transform: uppercase;
}

.title {
  margin-top: 2.125rem;
}

.title__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title__heading {
  width: 35%;
  margin-right: 5rem;
}

.title__heading--wrapper {
  margin-top: 5.125rem;
}

.title__heading--desc {
  margin-top: 6.5rem;
}

.title__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}

.title__play {
  padding: 1.4rem;
  border: 0.0625rem dotted #fff;
  margin-left: 1.625rem;
  border-radius: 50%;
}

.title__product--desc {
  margin-top: 11.25rem;
}

.title__product--price {
  margin-top: .625rem;
  margin-bottom: 1.3125rem;
  font-size: 2.375rem;
}

#product__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__switch {
  margin-top: 3.75rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.25);
  border-radius: 1.5rem;
  max-width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__switch > :first-child {
  border-right: 0.0625rem solid rgba(255, 255, 255, 0.25);
}

.button__switch--button {
  background: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  padding: .5rem 1rem;
  color: rgba(255, 255, 255, 0.25);
}

.star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: .5625rem;
}

.star__active {
  color: #e79331;
}

.big__button {
  background: #b2405d;
  color: #fff;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 3.125rem;
  min-width: 10rem;
  min-height: 3.625rem;
  display: inline-block;
  padding: 1.1875rem 1.6875rem;
}

.category {
  margin-top: 6.5rem;
}

.category__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category__card {
  text-transform: uppercase;
  width: 25%;
  border: 0.0625rem solid #b2405d;
}

.category__card--inner {
  margin: 4.375rem;
}

.category__card--number {
  color: #b2405d;
  font-size: 1rem;
  margin-bottom: .5rem;
}

.category__card--title {
  font-size: 1.5rem;
}

.feature {
  margin-top: 9.375rem;
}

.feature__heading {
  font-size: 3.5rem;
  margin-bottom: 1.875rem;
}

.feature__heading--under {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__heading--desc {
  color: rgba(255, 255, 255, 0.25);
}

.feature__card--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature__card--active {
  margin-left: 9.375rem;
  margin-right: 9.375rem;
  border: 0.0625rem solid #303030;
  border-radius: .9375rem;
  padding: 7.5rem 2.875rem;
  position: relative;
}

.feature__card--active > div {
  margin: 7.1875rem 2.875rem;
}

.feature__card {
  padding: 1.5625rem 3.125rem;
  width: 100%;
}

.feature__card--img {
  margin-bottom: 2.5rem;
}

.feature__card--title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.feature__card--desc {
  font-size: .9375rem;
  color: rgba(255, 255, 255, 0.25);
}

h2 {
  font-size: 3.75rem;
}

.services {
  margin-top: 9.375rem;
}

.services__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 7.1875rem;
}

.services__header--left {
  width: 33%;
}

.services__header--title {
  font-size: 1rem;
  color: #b2405d;
  letter-spacing: .5rem;
  margin-bottom: 1rem;
}

.services__card--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__card--wrapper > :first-child {
  margin-right: 2.1875rem;
}

.services__card {
  width: 45%;
  height: 21.75rem;
}

.services__card--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__card--number {
  margin-right: 2.875rem;
  font-size: 3.125rem;
  margin-top: auto;
}

.services__card--img {
  margin-right: 2.875rem;
  margin-top: 2.5rem;
}

.services__card--img > img {
  width: 14.375rem;
  height: 16rem;
}

.services__card--title {
  font-size: 1.875rem;
  margin-bottom: 1.25rem;
  margin-top: 4.875rem;
}

.services__card--desc {
  font-size: 1rem;
  margin-bottom: 3rem;
  color: rgba(255, 255, 255, 0.25);
}

.services__card--link {
  font-size: .875rem;
  color: #fff;
  text-decoration: underline;
}

.footer {
  margin-top: 6.875rem;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.8125rem;
}

.footer__email {
  border-radius: 3.125rem;
  background: rgba(56, 56, 56, 0.55);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__email--input {
  background-color: transparent;
  color: #fff;
  outline: none;
  font-family: "Inter", sans-serif;
  border: none;
  color: rgba(255, 255, 255, 0.55);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 1rem;
  margin-left: 1rem;
}

.footer__email--input::-webkit-input-placeholder {
  margin-left: 1rem;
}

.footer__email--input:-ms-input-placeholder {
  margin-left: 1rem;
}

.footer__email--input::-ms-input-placeholder {
  margin-left: 1rem;
}

.footer__email--input::placeholder {
  margin-left: 1rem;
}

.footer__email--button {
  padding: 0rem;
}

.footer__email--arrow {
  margin-left: 1rem;
  background: #cb5b78;
  border-radius: 50%;
  padding: 0.7rem;
}

.footer__link--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link--list > :not(:last-child) {
  margin-right: 1.5625rem;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.8125rem;
}

.footer__desc {
  color: rgba(255, 255, 255, 0.25);
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 90%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1999px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1023px) {
  html {
    font-size: 70%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  html {
    font-size: 40%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  html {
    font-size: 30%;
  }
}
/*# sourceMappingURL=css.css.map */