* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #080203;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 400;
}

body {
  margin-bottom: 10rem;
}

.container {
  margin: 0rem 10.938rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  padding-top: 3.688rem;
  padding-bottom: 3.063rem;
}

.header__menu--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu--item:not(:last-child) {
  margin-right: 4.688rem;
}

.header__button {
  border: 1px solid #fff;
  border-radius: 50%;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 5.625rem;
  font: weight 500;
  text-transform: uppercase;
}

.title {
  margin-top: 2.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title__heading {
  width: 35%;
}

.title__heading--wrapper {
  margin-top: 5.125rem;
}

.title__heading--desc {
  margin-top: 6.5rem;
}

.title__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}

.title__play {
  padding: 1.4rem;
  border: 0.0625rem dotted #fff;
  margin-left: 1.625rem;
  border-radius: 50%;
}

.title__product--desc {
  margin-top: 11.25rem;
}

.title__product--price {
  margin-top: .625rem;
  margin-bottom: 1.3125rem;
  font-size: 2.375rem;
}

#product__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__switch {
  margin-top: 3.75rem;
  border: 1px solid;
  border-radius: 2rem;
}

.button__switch--button {
  background: transparent;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  display: inline-block;
  padding: .3rem;
}

.star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: .5625rem;
}

.star__active {
  color: #e79331;
}

.big__button {
  background: #b2405d;
  color: #fff;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 3.125rem;
  min-width: 10rem;
  min-height: 3.625rem;
  display: inline-block;
  padding: 1.1875rem 1.6875rem;
}

.category {
  margin-top: 6.5rem;
}

.category__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category__card {
  text-transform: uppercase;
  width: 25%;
  border: 0.0625rem solid #b2405d;
}

.category__card--inner {
  margin: 4.375rem;
}

.category__card--number {
  color: #b2405d;
  font-size: 1rem;
  margin-bottom: .5rem;
}

.category__card--title {
  font-size: 1.5rem;
}
/*# sourceMappingURL=css.css.map */