$primary-color: #fff;
$sub-color: rgba(178, 64, 93, 1);
$margin: 10.938rem;
$body-font-size: 0.813rem;
$body-font-weight: 400;

*{
    box-sizing: border-box;
}
html{
    font-family: 'Inter', sans-serif;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(8, 2, 3, 1);
    color: $primary-color;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
}
body{
    margin-bottom: 10rem;
}

.container{
    margin:0rem $margin;
}
.header{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding-top: 3.688rem;
    padding-bottom: 3.063rem;
    &__menu--list{
        display: flex;
        justify-content: center;
    }
    &__menu--item:not(:last-child){
        margin-right: 4.688rem;
    }
    &__button{
        border: 1px solid $primary-color;
        border-radius: 50%;
    }
}
img{
    width: 100%;
    height: auto;
}

h1{
    font-size: 5.625rem;
    font: weight 500;
    text-transform: uppercase;
}
.title{
    
    margin-top: 2.125rem;
    display: flex;
    justify-content:space-between;
    &__heading{
        width: 35%;
    
    }
    &__heading--wrapper{
            margin-top: 5.125rem;
    }
    &__heading--desc{
        margin-top: 6.5rem;
    }
    &__product{
        display: flex;
        justify-content:center;
        width: 60%;
    }
    &__play{
        padding:1.4rem;
        border: .0625rem dotted $primary-color;
        margin-left: 1.625rem;
        border-radius: 50%;
    }
    &__product--desc{
        margin-top: 11.25rem;
    }
    &__product--price{
        margin-top: .625rem;
        margin-bottom: 1.3125rem;
        font-size: 2.375rem;
    }
 
}

#product__add{
    display: flex;
    margin-top: 5.25rem;
    align-items: center;
}


.button__switch{
    margin-top: 3.75rem;
    border: 1px solid;
    border-radius: 2rem;
    &--button{
        background: transparent;
        outline: none;
        text-decoration: none;
        cursor: pointer;
        border:none;
        display: inline-block;
        padding:.3rem;
    }
}

.star{
    display: flex;
    margin-bottom: .5625rem;
    &__active{
        color:rgba(231, 147, 49, 1);
    }
}
.big__button{
    background:  $sub-color;
    color: $primary-color;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    border:none;
    border-radius: 3.125rem;
    min-width: 10rem;
    min-height: 3.625rem;
    display: inline-block;
    padding:1.1875rem 1.6875rem;
}


.category{
    margin-top: 6.5rem;
    &__container{
        display: flex;
        justify-content: center;
    }
   &__card{
       text-transform: uppercase;
       width: 25%;
       border: .0625rem solid $sub-color;

   }
   &__card--inner{
        margin: 4.375rem;
   }
   &__card--number{
       color: $sub-color;
       font-size:1rem;
       margin-bottom: .5rem;
   }
   &__card--title{
       font-size:1.5rem;
   }
}



//------------------------------------------features--------------------------------


.feature{
    margin-top: 9.375rem;
    &__heading{
        font-size: 3.5rem;
        margin-bottom:1.875rem ;
    }
    &__heading--under{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    &__card--wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__card--active{
        margin-left: 9.375rem;
        margin-right: 9.375rem;
        border: 1px solid;
        border-radius: 1rem;
        padding:7.5rem 2.875rem;
        >div{
            margin: 7.1875rem 2.875rem;
        }

    }
    &__card{
        padding: 1.5625rem 3.125rem;
        width:100%;
    }
    &__card--img{
        margin-bottom: 2.5rem;
    }
    &__card--title{
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }
    &__card--desc{
        font-size: .9375rem;
    }
}

//------------------------------------------services--------------------------------

.services{
    margin-top: 9.375rem;
    &__card--wrapper{
        display: flex;
        align-items: center
    }
    &__card{
        width: 100%;
    }
    &__card--inner{
        display: flex;
        align-items: baseline;
    }
}


