$primary-color: #fff;
$opacity-color: rgba(255, 255, 255, 0.25);
$sub-color: rgba(178, 64, 93, 1);
$background-color: rgba(8, 2, 3, 1);
$margin: 10.938rem;
$body-font-size: 0.813rem;
$body-font-weight: 400;
$font-family: 'Inter', sans-serif;

*{
    box-sizing: border-box;
}
html{
    font-family: $font-family;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: $background-color;
    color: $primary-color;
    font-size: 100%;
    font-weight: $body-font-weight;
}
img{
    width: 100%;
    height: auto;
}
a{
    color: $primary-color;
    text-decoration: none;
}
button{
    font-family: $font-family;
}
input{
    font-family: $font-family;
}
.container{
    margin:0rem $margin;
}
//------------------------------------------header--------------------------------
.logo{
     font-size: 1.5rem;
        background: -webkit-linear-gradient($primary-color, $sub-color);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

}


.menu{
    text-transform: uppercase;

    &__list{
        display: flex;
        justify-content: center;
    }
    &__item{
        padding-bottom:.5rem;
    }
    &__item:not(:last-child){
        margin-right: 4.688rem;
    }
    &__active{
        border-bottom: .0625rem solid $sub-color;
    }
}



.header{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding-top: 3.688rem;
    padding-bottom: 3.063rem;
   
    &__button{
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        padding:.6rem;
    }
    >div:not(.menu){
        width: 20%;
    }
    &__button--wrapper{
        margin-left: auto;
        max-width: 2.5rem;

    }
}


h1{
    font-size: 5.625rem;
    font: weight 500;
    text-transform: uppercase;
}
.title{
    
    margin-top: 2.125rem;
    &__container{
        display: flex;
        justify-content:space-between;
    }
    &__heading{
        width: 35%;
        margin-right: 5rem;
  
    }
    &__heading--wrapper{
            margin-top: 5.125rem;
    }
    &__heading--desc{
        display: flex;
        align-items: center;
        margin-top: 6.5rem;
        margin-right: 4.5rem;
        >hr{
            background: rgba(196, 196, 196, 1);
            width: 20%;
            margin-right: 1.25rem;
            border-color:  rgba(196, 196, 196, 1);
        }
        >p{

           font-size:1.125rem;

        }
    }
    &__product{
        display: flex;
        justify-content:center;
        width: 60%;
    }
    &__play{
        padding:1.3rem;
        border: .0625rem dotted $primary-color;
        margin-left: 1.625rem;
        border-radius: 50%;
    }
    &__product--desc{
        margin-top: 11.25rem;
    }
    &__product--price{
        margin-top: .625rem;
        margin-bottom: 1.3125rem;
        font-size: 2.375rem;
    }
    &__product--volume{
        margin-bottom: 3.75rem;
    }
 
}

#product__add{
    display: flex;
    margin-top: 5.25rem;
    align-items: center;
}


.button{
    &__switch{
        border: .0625rem solid rgba(57, 37, 41, 1);
        border-radius: 1.5rem;
        max-width: 5rem;
        display: flex;
        justify-content:center;
        align-items:center;
    }
    &__switch>:first-child{
        border-right: .0625rem solid rgba(57, 37, 41, 1);
    }
    &__switch--button{
            background: transparent;
            outline: none;
            cursor: pointer;
            border:none;
            padding: .5rem 1rem;
            color: $opacity-color;
        
        }
}


.star{
    margin-bottom: .5625rem;
    color:$opacity-color;
    &__active{
        color:rgba(231, 147, 49, 1);
    }


}
.big__button{
    background:  $sub-color;
    color: $primary-color;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    border:none;
    border-radius: 3.125rem;
    min-width: 10rem;
    min-height: 3.625rem;
    display: inline-block;
    padding:1.1875rem 1.6875rem;
}


.category{
    margin-top: 6.5rem;
    &__container{
        display: flex;
        justify-content: center;
        >:first-child{
            border: 1.2px solid transparent;
            border-right: 1.2px solid rgba(178, 64, 93, 1);
            border-left: none;
            background:linear-gradient($background-color,$background-color) padding-box,
            linear-gradient(to right, $background-color, $sub-color) border-box;
        }
        >:last-child{
            border-right: none;
        }
    }
   &__card{
       text-transform: uppercase;
       width: 25%;
       border: 1px solid rgba(58, 27, 34, 1)
   }
   
   &__card--inner{
        margin: 4.375rem;
   }
   &__card--number{
       color: $sub-color;
       font-size:1rem;
       margin-bottom: .5rem;
   }
   &__card--title{
       font-size:1.5rem;
   }
}



//------------------------------------------features--------------------------------


.feature{
    margin-top: 9.375rem;
    &__title{
        margin-bottom: 5rem;
    }
    &__heading{
        font-size: 3.5rem;
        margin-bottom:1.875rem ;
    }
    &__heading--under{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    &__heading--desc{
        color: $opacity-color;

    }
    &__card--wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__card--active{
        margin-left: 9.375rem;
        margin-right: 9.375rem;
        border: .0625rem solid rgba(48, 48, 48, 1);
        border-radius: .9375rem;
        padding:7.5rem 2.875rem;
        position: relative;
        >.feature__card--inner{
            margin: 7.1875rem 2.875rem;
            >.feature__card--img::after{
                content:'';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: -1;
                background: #DF003D;
                opacity: 0.5;
                filter: blur(150px);
        }
        }
      
        ::after{
            content:'';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            background: #FFFFFF;
            opacity: 0.01;
            border-radius: .9375rem;

        }

    }
    &__card{
        padding: 1.5625rem 3.125rem;
        width:100%;
        text-align: center;
    }
    &__card--img{
        margin-bottom: 2.5rem;
        position: relative;
    }
    &__card--title{
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }
    &__card--desc{
        font-size: .9375rem;
        color: $opacity-color;

    }
}

//------------------------------------------services--------------------------------
h2{
    font-size:3.75rem;
}
.services{
    margin-top: 9.375rem;
    &__header{
        display: flex;
        justify-content:space-between;
        align-items:flex-end;
        margin-bottom: 7.1875rem;
    }
    &__header--left{
        width:33%;
    }
    &__header--title{
        font-size:1rem;
        color: $sub-color;
        letter-spacing:.5rem;
        margin-bottom:1rem;
    }

    &__card--wrapper{
        display: flex;
        align-items:center;
    }
    &__card--wrapper>:first-child{
        margin-right: 2.1875rem;
    }
    &__card{
        width: 45%;
        height:21.75rem;
   
    }
    &__card--inner{
        display: flex;
        
    }
    &__card--number{
        margin-right: 2.875rem;
        font-size: 3.125rem;
        margin-top:auto;
    }
    &__card--img{
        margin-right: 2.875rem;
        margin-top: 2.5rem;

    }
    &__card--img>img{
        width:14.375rem;
        height: 16rem;
    }
    &__card--info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__card--title{
        font-size:1.875rem;
        margin-bottom: 1.25rem;
        margin-top: 4.875rem;
    }
    &__card--desc{
        font-size: 1rem;
        margin-bottom: 3rem;
        color: $opacity-color;
    }
    &__card--link{
        font-size: .875rem;
        color: $primary-color;
        text-decoration: underline;
    }
}


//------------------------------------------footer--------------------------------

.footer{
    margin-top: 6.875rem;
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3.8125rem;
    }
    &__email{
        border-radius: 3.125rem;
        background: rgba(56, 56, 56, 0.55);
        display: flex;
        justify-content:space-between;
    }
    &__email--input{
        background-color: transparent;
        color: $primary-color;
        outline: none;
          font-family: $font-family;
        border:none;
        color:rgba(255, 255, 255, 0.55);
        flex-grow: 1;
        margin-right: 1rem;
        margin-left: 1rem;

    }
    &__email--input::placeholder{
        margin-left: 1rem;
    }
    &__email--button{
        padding:0rem .75rem;
    }
    &__email--arrow{
        margin-left: 1rem;
        background: rgba(203, 91, 120, 1);
        border-radius: 50%;
        padding:0.7rem;

    }
    &__link--list{
        display: flex;
    }
    &__link--list>:not(:last-child){
        margin-right: 1.5625rem;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.8125rem;
    }
    &__desc{
        color: $opacity-color;

    }
}



$res_320 : "only screen and (min-width: 320px) and (max-width: 374px)";
$res_375 : "only screen and (min-width: 375px) and (max-width: 424px)";
$res_425 : "only screen and (min-width: 425px) and (max-width: 767px)";
$res_768 : "only screen and (min-width: 768px) and (max-width: 991px)";
$res_992 : "only screen and (min-width: 992px) and (max-width: 1023px)";
$res_1024 : "only screen and (min-width: 1024px) and (max-width: 1999px)";
$res_1200 : "only screen and (min-width: 1200px)";

@mixin responsive_320() {
    @media #{$res_320} {
        @content;
    }
}
@mixin responsive_375() {
    @media #{$res_375} {
        @content;
    }
}
@mixin responsive_425() {
    @media #{$res_425} {
        @content;
    }
}
@mixin responsive_768() {
    @media #{$res_768} {
        @content;
    }
}
@mixin responsive_992() {
    @media #{$res_992} {
        @content;
    }
}
@mixin responsive_1024() {
    @media #{$res_1024} {
        @content;
    }
}
@mixin responsive_1200() {
    @media #{$res_1200} {
        @content;
    }
}




@include responsive_1200{
    html{
        font-size:90%;
    }
}
@include responsive_1024{
        html{
            font-size:80%;
        }
}

@include responsive_992{
    html{
        font-size:70%;
    }
}
@include responsive_768{
    html{
        font-size:60%;
    }
}
@include responsive_425{
    html{
        font-size:50%;
    }
}
@include responsive_375{
    html{
    font-size:40%;

    }
}
@include responsive_320{
    html{
    font-size:30%;

    }
}